/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    background-color: #020617;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* HEADER / HOME */
header {
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    color: #38bdf8;
    font-size: 32px;
}

header p {
    font-size: 18px;
    margin-top: 8px;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    color: #38bdf8;
    margin-bottom: 20px;
    text-align: center;
}

/* PROJECT CARDS */
.card {
    background-color: #020617;
    padding: 20px;
    margin: 20px auto;
    border-left: 4px solid #38bdf8;
    border-radius: 8px;
    max-width: 600px;
}

/* PROJECT IMAGE */
.card img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 6px;
}

/* CARD TEXT */
.card h3 {
    color: #38bdf8;
    margin-bottom: 8px;
}

.card p {
    font-size: 15px;
}

/* BACK PROJECT PAGE CONTAINER */
.back-projects {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* BUTTONS */
.btn {
    display: inline-block;
    margin: 15px 10px;
    padding: 10px 22px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn:hover {
    background-color: white;
}

/* PROJECT NAVIGATION */
.project-nav {
    text-align: center;
    margin-top: 30px;
}

/* CONTACT */
#contact p {
    text-align: center;
    margin-top: 10px;
}

/* FOOTER */
footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    nav a {
        display: inline-block;
        margin: 8px;
    }

    header h1 {
        font-size: 26px;
    }

    section {
        padding: 25px 15px;
    }

    .card {
        margin: 15px 10px;
    }
}
#about {
    text-align: center;
}
