body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background: #020617;
    padding: 30px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #38bdf8;
}

footer {
    background: #020617;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
nav {
    background: #020617;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

